<!DOCTYPE html>
<html>
<head>
	<title>Gravatar API</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
	<% if @url %>
		<style>
			html, body {
				margin: 0;
			}
		</style>
		<img src="<%= @url %>" alt="<%= @email %>'s Gravatar">
	<% end %>
</body>
</html>